bcrypt==3.2.0
click==8.0.3
Flask==2.0.1
Flask-Cors==3.0.10
Flask-Login==0.5.0
gunicorn==20.1.0
pandas==1.2.4
Pillow==9.0.1
python-dotenv==0.19.2
requests-toolbelt==0.9.1
ruamel.yaml==0.17.21
tables==3.7.0
transitions==0.8.10
urllib3>=1.26.5
spacy==3.2.3
https://github.com/explosion/spacy-models/releases/download/de_core_news_sm-3.2.0/de_core_news_sm-3.2.0.tar.gz#egg=de_core_news_sm
Werkzeug==2.0.3
